body{
    background-color: aqua;
}
.name_of_objects{
    color: brown;
    font-size: large;
}
.heading{
 width: 80%;
 font-size: 35px;
 color: crimson;
}
#camera{
    height: 300px;
    width: 350px;
    border: 2px dashed black;
}
p{
    font-weight: bold;
    color:chocolate;
    font-size: 45px;
}
hr{
    background-color: darkcyan;
    height: 6px;
}
label{
    font-weight: bold;
    color: darkslateblue;
}